<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniGame</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./process.js"></script>
</head>

<body>
    <h2>MiniGame</h2>
    <button id="connectMM">connect MetaMask</button></br>
    <b id="frmDangKy">
        <input type="text" id="txtHoTen" placeholder="Ho Ten"> </br>
        <input type="text" id="txtEmail" placeholder="Email"> </br>
        <input type="text" id="txtSoDT" placeholder="So DT"> </br>
        <button type="submit" id="btnDangKy">Đăng Ký</button> </br>
        </div>
</body>

</html>