#frmDangKy,
#danhSach {
    background-color: greenyellow;
    padding: 10px;
    margin-bottom: 5px;
}

#tbDS {
    width: 95%;
}

#dong1,
td,
.row {
    text-align: center;
    padding: 4px;
    border-bottom: 2px solid cornflowerblue;
}
